.headerIndex{
    background:url(../../../assets/blob-scene-haikei.svg) ;
    height: 70vh;
    width: 100vw;
    background-position: center;
    background-size: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
}

.headerIndex p{
    margin-top: 70px;
    font-size: 200px;
    color: aliceblue;
     font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* .wave{
  background: url(../../../assets/wave-haikei.svg);
  height: 50vh;
  width: 100vw;
  background-position: end;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  text-align: center;
} */
